<div class="row">
  <div class="col-md-12">
    <h2 class="featurette-heading">Domains
      <span class="text-muted"><small>Zone transfers are scary</small></span></h2>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="btn-group pull-right">
          <button ng-click="create()" class="btn btn-primary">Create</button>
        </div>
        <div class="btn-group">
          <button ng-model="showFilter" class="btn btn-default" uib-btn-checkbox
                  btn-checkbox-true="1"
                  btn-checkbox-false="0">Filter</button>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="table-responsive">
        <table ng-table="domainsTable" class="table table-striped" show-filter="showFilter" template-pagination="angular/pager.html">
          <tbody>
          <tr ng-repeat="domain in $data track by $index">
            <td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">
              {{ domain.name }}
            </td>
            <td data-title="'Sensitive'">
              <form>
                <switch ng-change="updateSensitive(domain)" id="status" name="status"
                        ng-model="domain.sensitive" class="green small"></switch>
              </form>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
