/.cache
.coverage
.tox
.DS_Store
/.tmp/
/.tmp/lemur-dev.tar.gz
/docker/lemur-dev.tar.gz
*.egg-info
*.pyc
*.log
*.egg
*.db
*.pid
*.enc
*.env
MANIFEST
test.conf
pip-log.txt
package-lock.json
/htmlcov
/cover
/build
/dist
/node_modules/
/bower_components/
/docs/html
/docs/doctrees
/lemur/static/dist/
/lemur/static/app/vendor/
/wheelhouse
/lemur/lib
/lemur/bin
/lemur/lib64
/lemur/include

docs/_build
.editorconfig
.idea
.pytest_cache
lemur/tests/tmp

/lemur/plugins/lemur_email/tests/expiration-rendered.html
/lemur/plugins/lemur_email/tests/rotation-rendered.html
.celerybeat-schedule

/docker/lemur.dev.tar.gz

# Python Virtual Environments
.env
.venv
/env
/venv
/ENV
/env.bak
/venv.bak

# VSCode files
/.vscode