# Run `make up-reqs` to update pinned dependencies in requirement text files

acme
alembic-autogenerate-enums
arrow
asyncpool
boto3
botocore
celery[redis]
certifi
certsrv
CloudFlare
cryptography
dnspython3
dyn
Flask-Bcrypt
Flask-Mail
Flask-Migrate
Flask-Principal
Flask-RESTful
Flask-Script
Flask-SQLAlchemy
Flask
Flask-Cors
future
gunicorn
hvac # required for the vault destination plugin
inflection
jinja2
kombu==4.3.0 # kombu 4.4.0 requires redis 3
lockfile
marshmallow-sqlalchemy
marshmallow
ndg-httpsclient
paramiko  # required for the SFTP destination plugin
pem
psycopg2
pyjwt
pyOpenSSL
python_ldap
raven[flask]
redis<3 # redis>=3 is not compatible with celery
requests
retrying
six
SQLAlchemy-Utils
tabulate
xmltodict
pyyaml>=4.2b1 #high severity alert