# Run `make up-reqs` to update pinned dependencies in requirement text files

flake8
pre-commit
invoke
twine
marshmallow-sqlalchemy == 0.23.1 #related to the marshmallow issue (to avoid conflicts)
marshmallow<2.20.5 #schema duplicate issues https://github.com/marshmallow-code/marshmallow-sqlalchemy/issues/121
nodeenv
pyyaml>=4.2b1
sqlalchemy < 1.5.0 # ImportError: cannot import name '_ColumnEntity' https://github.com/sqlalchemy/sqlalchemy/issues/6226