# Run `make up-reqs` to update pinned dependencies in requirement text files

coverage
factory-boy
Faker
freezegun
moto==1.3.4 # Issue with moto: https://github.com/spulec/moto/issues/1813
nose
pyflakes
pytest
pytest-flask
pytest-mock
requests-mock
