# Run `make up-reqs` to update pinned dependencies in requirement text files

acme
alembic-autogenerate-enums
arrow
asyncpool
boto3
botocore
celery[redis]
certbot
certifi
certsrv[ntlm]
CloudFlare
cryptography
dnspython3
dyn
Flask-Bcrypt
Flask-Limiter
Flask-Mail
Flask-Migrate
Flask-Principal
Flask-RESTX
Flask-SQLAlchemy
Flask
Flask-Cors
flask_replicated
future
google-cloud-private-ca
protobuf
types-protobuf
gunicorn
hvac # required for the vault destination plugin
inflection
itsdangerous
jinja2
lockfile
python-json-logger
marshmallow-sqlalchemy
marshmallow
ndg-httpsclient
paramiko  # required for the SFTP destination plugin
pem
psycopg2
pyjks
pyjwt
pyOpenSSL
pyyaml
python_ldap
redis
requests
retrying
sentry-sdk
six
SQLAlchemy-Utils
sqlalchemy
tabulate
validators
werkzeug
xmltodict