# Run `make up-reqs` to update pinned dependencies in requirement text files

acme
alembic-autogenerate-enums
arrow
asyncpool
boto3
botocore
celery[redis]==4.4.2 # need to first resolve the module not found error https://github.com/celery/celery/issues/6406
certbot
certifi
certsrv
CloudFlare
cryptography
dnspython3
dyn
Flask-Bcrypt
Flask-Mail
Flask-Migrate
Flask-Principal
Flask-RESTful
Flask-Script
Flask-SQLAlchemy
Flask
Flask-Cors
flask_replicated
future
gunicorn
hvac # required for the vault destination plugin
inflection
jinja2
lockfile
logmatic-python
marshmallow-sqlalchemy == 0.23.1 #related to the marshmallow issue (to avoid conflicts)
marshmallow<2.20.5 #schema duplicate issues https://github.com/marshmallow-code/marshmallow-sqlalchemy/issues/121
ndg-httpsclient
paramiko  # required for the SFTP destination plugin
pem
psycopg2
pyjks >= 19 # pyjks < 19 depends on pycryptodome, which conflicts with dyn's usage of pycrypto
pyjwt
pyOpenSSL
pyyaml>=4.2b1 #high severity alert
python_ldap
redis
requests
retrying
sentry-sdk
six
SQLAlchemy-Utils
sqlalchemy < 1.4.0 # ImportError: cannot import name '_ColumnEntity' https://github.com/sqlalchemy/sqlalchemy/issues/6226
tabulate
xmltodict
