# Run `make up-reqs` to update pinned dependencies in requirement text files

bandit
black
coverage
certbot
factory-boy
Faker
fakeredis
freezegun
moto[all]
nose
pyflakes
pytest
pytest-flask
pytest-mock
requests-mock
pyyaml>=4.2b1