# Run `make up-reqs` to update pinned dependencies in requirement text files
-r requirements.txt
bandit
black
celery[redis]>=5.3.5
coverage
cryptography==43.0.1 # Must keep `cryptography` pinned to the same version as `requirements-overrides.txt` for FIPS support.
factory-boy
Faker
fakeredis
freezegun
moto[all] < 5
mypy
nose
openapi-spec-validator
pyflakes
pytest
pytest-flask
pytest-mock
requests-mock
simplejson
types-Deprecated
types-paramiko
types-pyOpenSSL
types-pyRFC3339
types-pytz
types-redis
types-requests
types-requests
types-setuptools
types-six
types-tabulate
