<h2 class="featurette-heading">Unlock <span class="text-muted"><small>Assume 9 is twice 5; how will you write 6 times 5 in the same system of notation?</small></span></h2>
<form class="form-horizontal" _lpchecked="1">
  <fieldset class="col-lg-offset-4">
    <div class="form-group">
      <div class="col-lg-4">
        <input type="password" ng-model="password" placeholder="Password" class="form-control"/>
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="form-group">
      <div class="col-lg-4">
        <button ng-click="unlock()" class="btn btn-success">Unlock</button>
      </div>
    </div>
  </fieldset>
</form>
