<form name="dnForm" novalidate>
  <div class="form-horizontal">
    <div class="form-group"
         ng-class="{'has-error': dnForm.country.$invalid, 'has-success': !dnForm.country.$invalid&&dnForm.country.$dirty}">
      <label class="control-label col-sm-2">
        Country
      </label>
      <div class="col-sm-10">
        <input name="country" ng-model="authority.country" placeholder="Country" class="form-control" required/>
        <p ng-show="dnForm.country.$invalid && !dnForm.country.$pristine" class="help-block">You must enter a country</p>
      </div>
    </div>
    <div class="form-group"
         ng-class="{'has-error': dnForm.state.$invalid, 'has-success': !dnForm.$invalid&&dnForm.state.$dirty}">
      <label class="control-label col-sm-2">
        State
      </label>
      <div class="col-sm-10">
        <input name="state" ng-model="authority.state" placeholder="State" class="form-control" required/>
        <p ng-show="dnForm.state.$invalid && !dnForm.state.$pristine" class="help-block">You must enter a state</p>
      </div>
    </div>
    <div class="form-group"
         ng-class="{'has-error': dnForm.location.$invalid, 'has-success': !dnForm.$invalid&&dnForm.location.$dirty}">
      <label class="control-label col-sm-2">
        Location
      </label>
      <div class="col-sm-10">
        <input name="location" ng-model="authority.location" placeholder="Location" class="form-control"/>
      </div>
    </div>
    <div class="form-group"
         ng-class="{'has-error': dnForm.organization.$invalid, 'has-success': !dnForm.$invalid&&dnForm.organization.$dirty}">
      <label class="control-label col-sm-2">
        Organization
      </label>
      <div class="col-sm-10">
        <input name="organization" ng-model="authority.organization" placeholder="Organization" class="form-control" required/>
        <p ng-show="dnForm.organization.$invalid && !dnForm.organization.$pristine" class="help-block">You must enter a organization</p>
      </div>
    </div>
    <div class="form-group"
         ng-class="{'has-error': dnForm.organizationalUnit.$invalid, 'has-success': !dnForm.$invalid&&dnForm.organizationalUnit.$dirty}">
      <label class="control-label col-sm-2">
        Organizational Unit
      </label>
      <div class="col-sm-10">
        <input name="organizationalUnit" ng-model="authority.organizationalUnit" placeholder="Organizational Unit" class="form-control"/>
      </div>
    </div>
    <div class="form-group"
         ng-class="{'has-error': dnForm.email.$invalid, 'has-success': !dnForm.$invalid&&dnForm.email.$dirty}">
      <label class="control-label col-sm-2">
        Email
      </label>
      <div class="col-sm-10">
        <input type="email" name="email" ng-model="authority.email" placeholder="Email Address" class="form-control"/>
      </div>
    </div>
  </div>
</form>

