<div class="modal-header">
    <div class="modal-title">
        <h3 class="modal-header">Edit <span class="text-muted"><small>{{ authority.name }}</small></span></h3>
    </div>
    <div class="modal-body">
        <form name="createForm" class="form-horizontal" role="form" novalidate>
            <div class="form-group"
                 ng-class="{'has-error': editForm.owner.$invalid, 'has-success': !editForm.owner.$invalid&&editForm.owner.$dirty}">
                <label class="control-label col-sm-2">
                    Owner
                </label>
                <div class="col-sm-10">
                    <input type="email" name="owner" ng-model="authority.owner" placeholder="owner@example.com"
                           class="form-control" required/>

                    <p ng-show="editForm.owner.$invalid && !editForm.owner.$pristine" class="help-block">Enter a valid
                        email.</p>
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': editForm.description.$invalid, 'has-success': !editForm.$invalid&&editForm.description.$dirty}">
                <label class="control-label col-sm-2">
                    Description
                </label>
                <div class="col-sm-10">
                    <textarea name="description" ng-model="authority.description" placeholder="Something elegant" class="form-control" required></textarea>
                    <p ng-show="editForm.description.$invalid && !editForm.description.$pristine" class="help-block">You must give a short description about this authority will be used for, this description should only include alphanumeric characters</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">
                    Roles
                </label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="text" ng-model="authority.selectedRole" placeholder="Role Name"
                               typeahead="role.name for role in roleService.findRoleByName($viewValue)" typeahead-loading="loadingRoles"
                               class="form-control input-md" typeahead-on-select="authority.attachRole($item)" typeahead-min-wait="50"
                               tooltip="Roles control which authorities a user can issue certificates from"
                               tooltip-trigger="focus" tooltip-placement="top">
              <span class="input-group-btn">
                <button ng-model="roles.show" class="btn btn-md btn-default" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                    <span class="badge">{{ authority.roles.length || 0 }}</span>
                </button>
              </span>
                    </div>
                    <table ng-show="authority.roles" class="table">
                        <tr ng-repeat="role in authority.roles track by $index">
                            <td><a class="btn btn-sm btn-info" href="#/roles/{{ role.id }}/edit">{{ role.name }}</a></td>
                            <td><span class="text-muted">{{ role.description }}</span></td>
                            <td>
                                <button type="button" ng-click="authority.removeRole($index)" class="btn btn-danger btn-sm pull-right">Remove</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button ng-click="save(authority)" type="submit" ng-disabled="createForm.$invalid" class="btn btn-primary">Save</button>
        <button ng-click="cancel()" class="btn btn-danger">Cancel</button>
    </div>
</div>
