<div class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-2">
      Signing Algorithm
    </label>
    <div class="col-sm-10">
      <select class="form-control" ng-model="authority.signingAlgorithm" ng-options="option for option in ['sha1WithRSA', 'sha256WithRSA']" ng-init="authority.signingAlgorithm = 'sha256WithRSA'"></select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">
      Sensitivity
    </label>
    <div class="col-sm-10">
      <select class="form-control" ng-model="authority.sensitivity" ng-options="option for option in ['medium', 'high']" ng-init="authority.sensitivity = 'medium'"></select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">
      Key Type
    </label>
    <div class="col-sm-10">
      <select class="form-control" ng-model="authority.keyType" ng-options="option for option in ['RSA2048', 'RSA4096']" ng-init="authority.keyType = 'RSA2048'"></select>
    </div>
  </div>
  <div ng-show="authority.sensitivity == 'high'" class="form-group">
    <label class="control-label col-sm-2">
      Key Name
    </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="authority.keyName" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">
      Serial Number
    </label>
    <div class="col-sm-10">
      <input type="number" name="serialNumber" ng-model="authority.serialNumber" placeholder="Serial Number" class="form-control"/>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">
      First Serial Number
    </label>
    <div class="col-sm-10">
      <input type="number" name="firstSerialNumber" ng-model="authority.firstSerial" placeholder="First Serial Number" class="form-control" ng-init="1000" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">
      Plugin
    </label>
    <div class="col-sm-10">
      <select class="form-control" ng-model="authority.plugin" ng-options="plugin as plugin.title for plugin in plugins" required></select>
    </div>
  </div>
</div>
