<div class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-2">
      Signing Algorithm
    </label>
    <div class="col-sm-10">
      <select class="form-control" ng-model="authority.signingAlgorithm"
              ng-options="option for option in ['sha1WithRSA', 'sha256WithRSA', 'sha256WithECDSA', 'sha384WithECDSA', 'sha512WithECDSA']"
              ng-init="authority.signingAlgorithm = 'sha256WithECDSA'">
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">
      Sensitivity
    </label>
    <div class="col-sm-10">
      <select class="form-control" ng-model="authority.sensitivity"
              ng-options="option for option in ['medium', 'high']"
              ng-init="authority.sensitivity = 'medium'">
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">
      Key Type
    </label>
    <div class="col-sm-10">
      <select class="form-control" ng-model="authority.keyType"
              ng-options="option for option in ['RSA2048', 'RSA4096', 'ECCPRIME256V1', 'ECCSECP384R1', 'ECCSECP521R1']"
              ng-init="authority.keyType = 'ECCPRIME256V1'">
      </select>
    </div>
  </div>
  <div ng-show="authority.sensitivity == 'high'" class="form-group">
    <label class="control-label col-sm-2">
      Key Name
    </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="authority.keyName" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">
      Serial Number
    </label>
    <div class="col-sm-10">
      <input type="number" name="serialNumber" ng-model="authority.serialNumber" placeholder="Serial Number" class="form-control"/>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">
      First Serial Number
    </label>
    <div class="col-sm-10">
      <input type="number" name="firstSerialNumber" ng-model="authority.firstSerial" placeholder="First Serial Number" class="form-control" ng-init="1000" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">
      Plugin
    </label>
    <div class="form-group col-sm-10">
      <select class="form-control" ng-model="authority.plugin" ng-options="plugin as plugin.title for plugin in plugins" required></select>
    </div>
      <div class="form-group" ng-repeat="item in authority.plugin.pluginOptions">
      <ng-form name="subForm" class="form-horizontal" role="form" novalidate>
        <div ng-class="{'has-error': subForm.sub.$invalid, 'has-success': !subForm.sub.$invalid&&subForm.sub.$dirty}">
          <label class="control-label col-sm-2">
            {{ item.name | titleCase }}
          </label>
          <div class="col-sm-10">
            <input name="sub" ng-if="item.type == 'int'" type="number" ng-pattern="item.validation?item.validation:'^[0-9]+$'"
                   class="form-control" ng-model="item.value"/>

            <select name="sub" ng-if="item.type == 'select'" class="form-control" ng-options="i for i in item.available"
                    ng-model="item.value"></select>

            <!-- DestSelect options -->
            <ui-select class="input-md" ng-model="item.value" theme="bootstrap" title="choose a destination" ng-if="item.type == 'destinationSelect'">
                <ui-select-match placeholder="select an destination...">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices class="form-control"
                             refresh="getDestinations()"
                             refresh-delay="300"
                             repeat="destination.id as destination in destinations | filter: $select.search">
                    <div ng-bind-html="destination.label | highlight: $select.search"></div>
                    <small>
                        <span ng-bind-html="''+destination.description | highlight: $select.search"></span>
                    </small>
                </ui-select-choices>
            </ui-select>

            <input name="sub" ng-if="item.type == 'bool'" class="form-control" type="checkbox" ng-model="item.value">
            <input name="sub" ng-if="item.type == 'str'" type="text" class="form-control" ng-model="item.value"/>
              <textarea name="sub" ng-if="item.type == 'textarea'" class="form-control" ng-model="item.value"></textarea>

            <div ng-if="item.type == 'export-plugin'">
              <form name="exportForm" class="form-horizontal" role="form" novalidate>
                <select class="form-control" ng-model="item.value"
                        ng-options="plugin.title for plugin in exportPlugins" required></select>
                <div class="col-sm-10">
                  <div class="form-group" ng-repeat="item in item.value.pluginOptions">
                    <ng-form name="subForm" class="form-horizontal" role="form" novalidate>
                        ng-class="{'has-error': subForm.sub.$invalid, 'has-success': !subForm.sub.$invalid&&subForm.sub.$dirty}">
                        <label class="control-label col-sm-2">
                          {{ item.name | titleCase }}
                        </label>
                        <div class="col-sm-10">
                          <input name="sub" ng-if="item.type == 'int'" type="number" ng-pattern="item.validation?item.validation:'^[0-9]+$'"
                                 class="form-control" ng-model="item.value"/>
                          <select name="sub" ng-if="item.type == 'select'" class="form-control"
                                  ng-options="i for i in item.available" ng-model="item.value"></select>
                          <input name="sub" ng-if="item.type == 'bool'" class="form-control" type="checkbox"
                                 ng-model="item.value">
                          <input name="sub" ng-if="item.type == 'str'" type="text" class="form-control"
                                 ng-model="item.value" ng-pattern="item.validation"/>
                          <textarea name="sub" ng-if="item.type == 'textarea'" class="form-control"
                                 ng-model="item.value" ng-pattern="item.validation"></textarea>
                          <p ng-show="subForm.sub.$invalid && !subForm.sub.$pristine"
                             class="help-block">{{ item.helpMessage }}</p>
                        </div>
                      </div>
                    </ng-form>
                  </div>
                </div>
              </form>
            </div>
            <p ng-show="subForm.sub.$invalid && !subForm.sub.$pristine" class="help-block">{{ item.helpMessage }}</p>
          </div>
        </div>
      </ng-form>
    </div>
  </div>
</div>
