<form name="trackingForm" novalidate>
  <div class="form-horizontal">
    <div class="form-group"
         ng-class="{'has-error': trackingForm.ownerEmail.$invalid, 'has-success': !trackingForm.$invalid&&trackingForm.ownerEmail.$dirty}">
      <label class="control-label col-sm-2">
        Owner
      </label>

      <div class="col-sm-10">
        <input type="email" name="ownerEmail" ng-model="certificate.owner" placeholder="TeamDL@example.com"
               tooltip="This is the certificates team distribution list or main point of contact" class="form-control"
               required/>

        <p ng-show="trackingForm.ownerEmail.$invalid && !trackingForm.ownerEmail.$pristine" class="help-block">You must
          enter an Certificate owner</p>
      </div>
    </div>
    <div class="form-group"
         ng-class="{'has-error': trackingForm.description.$invalid, 'has-success': !trackingForm.$invalid&&trackingForm.description.$dirty}">
      <label class="control-label col-sm-2">
        Description
      </label>

      <div class="col-sm-10">
        <textarea name="description" ng-model="certificate.description" placeholder="Something elegant"
                  class="form-control" required></textarea>

        <p ng-show="trackingForm.description.$invalid && !trackingForm.description.$pristine" class="help-block">You
          must give a short description about this authority will be used for.</p>
      </div>
    </div>
    <div class="form-group"
         ng-class="{'has-error': trackingForm.selectedAuthority.$invalid, 'has-success': !trackingForm.$invalid&&trackingForm.selectedAuthority.$dirty}">
      <label class="control-label col-sm-2">
        Certificate Authority
      </label>

      <div class="col-sm-10">
        <div class="input-group col-sm-12">
          <input name="selectedAuthority"
                 tooltip="If you are unsure which authority you need; you most likely want to use 'verisign'"
                 type="text" ng-model="certificate.selectedAuthority" placeholder="Authority Name"
                 typeahead-on-select="certificate.attachAuthority($item)"
                 typeahead="authority.name for authority in authorityService.findActiveAuthorityByName($viewValue)"
                 typeahead-loading="loadingAuthorities"
                 class="form-control" typeahead-wait-ms="1000"
                 typeahead-template-url="angular/authorities/authority/select.tpl.html" required>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">
        Certificate Template
      </label>

      <div class="col-sm-10">
        <select class="form-control" ng-change="certificate.useTemplate()" name="certificateTemplate"
                ng-model="certificate.template" ng-options="template.name for template in templates"></select>
      </div>
    </div>
    <div class="form-group"
         ng-class="{'has-error': trackingForm.commonName.$invalid, 'has-success': !trackingForm.$invalid&&trackingForm.commonName.$dirty}">
      <label class="control-label col-sm-2">
        Common Name
      </label>

      <div class="col-sm-10">
        <input name="commonName"
               tooltip="If you need a certificate with multiple domains enter your primary domain here and the rest under 'Subject Alternate Names' in the next few panels"
               ng-model="certificate.commonName" placeholder="Common Name" class="form-control" ng-maxlength="64"
               required/>

        <p ng-show="trackingForm.commonName.$invalid && !trackingForm.commonName.$pristine" class="help-block">You must
          enter a common name and it must be less than 64 characters</p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2"
             tooltip="If no date is selected Lemur attempts to issue a 2 year certificate">
        Validity Range <span class="glyphicon glyphicon-question-sign"></span>
      </label>

      <div class="col-sm-4">
        <div>
          <div class="input-group">
            <input tooltip="Starting Date (yyyy/MM/dd)" class="form-control" datepicker-popup="yyyy/MM/dd"
                   is-open="$parent.openNotBefore.isOpen" min-date="certificate.authority.notBefore"
                   max-date="certificate.authority.maxDate" ng-model="certificate.validityStart"/>
          <span class="input-group-btn">
            <button class="btn btn-default" ng-click="openNotBefore($event)"><i
              class="glyphicon glyphicon-calendar"></i></button>
          </span>
          </div>
        </div>
      </div>
      <span style="padding-top: 15px" class="text-center col-sm-2"><label><span
        class="glyphicon glyphicon-resize-horizontal"></span></label></span>

      <div class="col-sm-4">
        <div>
          <div class="input-group">
            <input tooltip="Ending Date (yyyy/MM/dd)" class="form-control" datepicker-popup="yyyy/MM/dd"
                   is-open="$parent.openNotAfter.isOpen" min-date="certificate.authority.notBefore"
                   max-date="certificate.authority.maxDate" ng-model="certificate.validityEnd"/>
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="openNotAfter($event)"><i
                class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group"
         ng-class="{'has-error': trackingForm.csr.$invalid&&trackingForm.csr.$dirty, 'has-success': !trackingForm.csr.$invalid&&trackingForm.csr.$dirty}">
      <label class="control-label col-sm-2">
        Certificate Signing Request (CSR)
      </label>
      <div class="col-sm-10">
                <textarea tooltip="Values defined in the CSR will take precedence" name="certificate signing request" ng-model="certificate.csr"
                          placeholder="PEM encoded string..." class="form-control"
                          ng-pattern="/^-----BEGIN CERTIFICATE REQUEST-----/"></textarea>

        <p ng-show="trackingForm.csr.$invalid && !trackingForm.csr.$pristine"
           class="help-block">Enter a valid certificate signing request.</p>
      </div>
    </div>
    <div ng-include="'angular/certificates/certificate/replaces.tpl.html'"></div>
    <div ng-include="'angular/certificates/certificate/notifications.tpl.html'"></div>
    <div ng-include="'angular/certificates/certificate/destinations.tpl.html'"></div>
  </div>
</form>

