<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h3 class="modal-title">Import a certificate <span class="text-muted"><small>encrypt all the things</small></span></h3>
</div>
<div class="modal-body">
  <form name="uploadForm" class="form-horizontal" role="form" novalidate>
    <div class="form-group"
         ng-class="{'has-error': uploadForm.owner.$invalid, 'has-success': !uploadForm.owner.$invalid&&uploadForm.owner.$dirty}">
      <label class="control-label col-sm-2">
        Owner
      </label>
      <div class="col-sm-10">
        <input type="email" name="owner" ng-model="certificate.owner" placeholder="owner@example.com"
               class="form-control" required/>

        <p ng-show="uploadForm.owner.$invalid && !uploadForm.owner.$pristine" class="help-block">Enter a valid
          email.</p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">
        Roles
      </label>
      <div class="col-sm-10" ng-model="certificate" role-select></div>
    </div>
    <div ng-include="'angular/certificates/certificate/notifications.tpl.html'"></div>
    <div class="form-group"
         ng-class="{'has-error': uploadForm.description.$invalid, 'has-success': !uploadForm.$invalid&&uploadForm.description.$dirty}">
      <label class="control-label col-sm-2">
        Description
      </label>
      <div class="col-sm-10">
          <textarea name="description" ng-model="certificate.description" placeholder="Something elegant"
                    class="form-control" required></textarea>
        <p ng-show="uploadForm.description.$invalid && !uploadForm.description.$pristine" class="help-block">You must
          give a short description about this authority will be used for.</p>
      </div>
    </div>
    <div class="form-group"
         ng-class="{'has-error': uploadForm.publicCert.$invalid, 'has-success': !uploadForm.publicCert.$invalid&&uploadForm.publicCert.$dirty}">
      <label class="control-label col-sm-2">
        Public Certificate
      </label>
      <div class="col-sm-10">
                <textarea name="publicCert" ng-model="certificate.body" placeholder="PEM encoded string..."
                          class="form-control" ng-pattern="/^-----BEGIN CERTIFICATE-----/" required></textarea>
        <p ng-show="uploadForm.publicCert.$invalid && !uploadForm.publicCert.$pristine" class="help-block">Enter
          a valid certificate.</p>
      </div>
    </div>
    <div class="form-group"
         ng-class="{'has-error': uploadForm.privateKey.$invalid&&uploadForm.privateKey.$dirty, 'has-success': !uploadForm.privateKey.$invalid&&uploadForm.privateKey.$dirty}">
      <label class="control-label col-sm-2">
        Private Key
      </label>
      <div class="col-sm-10">
                <textarea name="privateKey" ng-model="certificate.privateKey" placeholder="PEM encoded string..."
                          class="form-control"
                          ng-pattern="/(^-----BEGIN PRIVATE KEY-----[\S\s]*-----END PRIVATE KEY-----)|(^-----BEGIN RSA PRIVATE KEY-----[\S\s]*-----END RSA PRIVATE KEY-----)/"></textarea>

        <p ng-show="uploadForm.privateKey.$invalid && !uploadForm.privateKey.$pristine" class="help-block">Enter
          a valid certificate.</p>
      </div>
    </div>
    <div class="form-group"
         ng-class="{'has-error': uploadForm.csr.$invalid&&uploadForm.csr.$dirty, 'has-success': !uploadForm.csr.$invalid&&uploadForm.csr.$dirty}">
      <label class="control-label col-sm-2">
        Certificate Signing Request (CSR)
      </label>
      <div class="col-sm-10">
                <textarea name="csr" ng-model="certificate.csr" placeholder="PEM encoded string..."
                          class="form-control"
                          ng-pattern="/^-----BEGIN CERTIFICATE REQUEST-----/"></textarea>
        <p ng-show="uploadForm.csr.$invalid && !uploadForm.csr.$pristine"
             class="help-block">Enter a valid certificate signing request.</p>
      </div>
    </div>
    <div class="form-group"
         ng-class="{'has-error': uploadForm.owner.$invalid&&uploadform.intermediateCert.$dirty, 'has-success': !uploadForm.intermediateCert.$invalid&&uploadForm.intermediateCert.$dirty}">
      <label class="control-label col-sm-2">
        Intermediate Certificate
      </label>
      <div class="col-sm-10">
                <textarea name="intermediateCert" ng-model="certificate.chain"
                          placeholder="PEM encoded string..." class="form-control"
                          ng-pattern="/^-----BEGIN CERTIFICATE-----/"></textarea>
        <p ng-show="uploadForm.intermediateCert.$invalid && !uploadForm.intemediateCert.$pristine"
           class="help-block">Enter a valid certificate.</p>
      </div>
    </div>
    <div ng-include="'angular/certificates/certificate/replaces.tpl.html'"></div>
    <div ng-include="'angular/certificates/certificate/destinations.tpl.html'"></div>
    <div class="form-group"
         ng-class="{'has-error': uploadForm.name.$invalid, 'has-success': !uploadForm.name.$invalid&&uploadForm.name.$dirty}">
      <label class="control-label col-sm-2">
        Custom Certificate Name
      </label>
      <div class="col-sm-10">
        <input name="name" ng-model="certificate.name"
               placeholder="the.example.net-SymantecCorporation-20150828-20160830" class="form-control"
               uib-tooltip="If no name is provided, Lemur will generate a name for you">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" ng-click="save(certificate)" ng-disabled="uploadForm.$invalid" class="btn btn-success">
    Import
  </button>
  <button ng-click="cancel()" class="btn btn-danger">Cancel</button>
</div>
</div>
