<div class="modal-header">
    <div class="modal-title">
        <h3 class="modal-header">Upload a certificate <span class="text-muted"><small>encrypt all the things</small></span></h3>
    </div>
    <div class="modal-body">
        <form name="uploadForm" class="form-horizontal" role="form" novalidate>
            <div class="form-group"
                 ng-class="{'has-error': uploadForm.owner.$invalid, 'has-success': !uploadForm.owner.$invalid&&uploadForm.owner.$dirty}">
                <label class="control-label col-sm-2">
                    Owner
                </label>

                <div class="col-sm-10">
                    <input type="email" name="owner" ng-model="certificate.owner" placeholder="owner@netflix.com"
                           class="form-control" required/>

                    <p ng-show="uploadForm.owner.$invalid && !uploadForm.owner.$pristine" class="help-block">Enter a valid
                        email.</p>
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': uploadForm.publicCert.$invalid, 'has-success': !uploadForm.publicCert.$invalid&&uploadForm.publicCert.$dirty}">
                <label class="control-label col-sm-2">
                    Public Certificate
                </label>

                <div class="col-sm-10">
                <textarea name="publicCert" ng-model="certificate.publicCert" placeholder="PEM encoded string..."
                          class="form-control" ng-pattern="/^-----BEGIN CERTIFICATE-----/" required></textarea>

                    <p ng-show="uploadForm.publicCert.$invalid && !uploadForm.publicCert.$pristine" class="help-block">Enter
                        a valid certificate.</p>
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': uploadForm.privateKey.$invalid&&uploadForm.privateKey.$dirty, 'has-success': !uploadForm.privateKey.$invalid&&uploadForm.privateKey.$dirty}">
                <label class="control-label col-sm-2">
                    Private Key
                </label>

                <div class="col-sm-10">
                <textarea name="privateKey" ng-model="certificate.privateKey" placeholder="PEM encoded string..."
                          class="form-control" ng-pattern="/^-----BEGIN RSA PRIVATE KEY-----/"></textarea>

                    <p ng-show="uploadForm.privateKey.$invalid && !uploadForm.privateKey.$pristine" class="help-block">Enter
                        a valid certificate.</p>
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': uploadForm.owner.$invalid&&uploadform.intermediateCert.$dirty, 'has-success': !uploadForm.intermediateCert.$invalid&&uploadForm.intermediateCert.$dirty}">
                <label class="control-label col-sm-2">
                    Intermediate Certificate
                </label>

                <div class="col-sm-10">
                <textarea name="intermediateCert" ng-model="certificate.intermediateCert"
                          placeholder="PEM encoded string..." class="form-control"
                          ng-pattern="/^-----BEGIN CERTIFICATE-----/"></textarea>

                    <p ng-show="uploadForm.intermediateCert.$invalid && !uploadForm.intemediateCert.$pristine"
                       class="help-block">Enter a valid certificate.</p>
                </div>
            </div>
            <div ng-include="'angular/certificates/certificate/destinations.tpl.html'"></div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" ng-click="upload(certificate)" ng-disabled="uploadForm.$invalid" class="btn btn-success">Import</button>
        <button ng-click="cancel()" class="btn btn-danger">Cancel</button>
    </div>
</div>
