<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Lemur</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/main.css -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- endbuild -->

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- inject:bower:js -->
    <!-- endinject -->
    <!-- endbuild -->

    <!-- build:js(.) scripts/main.js -->
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:ngviews -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body ng-csp>
    <toaster-container></toaster-container>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#/">Lemur</a>
            </div>
            <div class="navbar-collapse collapse" ng-controller="LoginController">
                <ul class="nav navbar-nav navbar-left">
                    <li><a ui-sref="dashboard">Dashboard</a></li>
                    <li><a ui-sref="certificates">Certificates</a></li>
                    <li><a ui-sref="pending_certificates">Pending Certificates</a></li>
                    <li><a ui-sref="authorities">Authorities</a></li>
                    <li><a ui-sref="endpoints">Endpoints</a></li>
                    <li><a ui-sref="notifications">Notifications</a></li>
                    <li></li>
                    <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
                        <a href class="dropdown-toggle" uib-dropdown-toggle>Admin <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="destinations">Destinations</a></li>
                            <li><a ui-sref="sources">Sources</a></li>
                            <li><a ui-sref="roles">Roles</a></li>
                            <li><a ui-sref="users">Users</a></li>
                            <li><a ui-sref="domains">Domains</a></li>
                            <li><a ui-sref="logs">Logs</a></li>
                            <li><a ui-sref="keys">Api Keys</a></li>
                            <li><a ui-sref="dns_providers">DNS Providers</a></li>
                        </ul>
                    </li>
                </ul>
                <ul ng-show="!currentUser.username" class="nav navbar-nav navbar-right">
                  <li><a ui-sref="login">Login</a></li>
                </ul>
                <ul ng-show="currentUser.username" class="nav navbar-nav navbar-right">
                    <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
                        <a href class="dropdown-toggle profile-nav" uib-dropdown-toggle>
                            <span ng-if="currentUser.profilePicture">
                                {{ currentUser.username }} <img ng-src="{{ currentUser.profilePicture }}" class="profile img-circle">
                            </span>
                            <span ng-if="!currentUser.profilePicture">
                                {{ currentUser.username }} <ng-letter-avatar height="35" width="35" data="currentUser.username" shape="round"></ng-letter-avatar>
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a ng-click="logout()">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Add your site or application content here -->
    <div class="container-fluid">
      <div ui-view></div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">
            <span>Lemur is broken regularly by <a href="https://github.com/Netflix/lemur.git">Netflix</a>.</span>
            <span class="pull-right">Confused? Check out our <a href="https://lemur.readthedocs.io/en/latest">docs</a>!</span>
        </p>
      </div>
    </footer>
</body>
</html>
